{% extends 'adminlte/base.html' %}
{% block title %}
OZTEC轮播图管理
{% endblock %}

{% block links %}

{% endblock %}
{% block scripts %}
    <script src="{% static 'js/banner_manage.min.js' %}"></script>
{% endblock %}

{% block content-title %}
轮播图管理
{% endblock %}

{% block content-path %}
轮播图
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="btn btn-primary" id="add-banner" style="float: left;">
            <i class="fa fa-plus"></i>
            添加轮播图
        </div>
        <ul class="banner-attention" style="float: left;">
            <li>图片不要超过6张,只支持jpg,png格式的图片</li>
            <li>图片的比例4:1</li>
        </ul>
    </div>
</div>

{% for banner in banners %}
    <div class="box" style="width: 800px" data-pk="{{ banner.id }}">
        <div class="box-header">
            <span style="float: left;">优先级: {{ banner.position }}</span>
            <button class="btn btn-default btn-xs banner-close-btn" style="float: right;">
                <i class="fa fa-close"></i>
            </button>
        </div>
        <div class="box-body">
            <div class="thubmail-group" style="width: 230px;float: left;margin-right: 20px;">
                <img src="{{ banner.banner_url }}" alt="" class="thubmail" style="width: 100%">
            </div>
            <div class="form-group" style="float: left;width: 510px;">
                <input type="number" class="form-control" name="position" placeholder="优先级" style="margin-bottom: 5px;" value="{{ banner.position }}">
                <input type="text" class="form-control" name="link_url" placeholder="跳转链接" value="{{ banner.link_url }}">
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-primary pull-right edit-banner-btn" style="margin-right: 20px;">保存</button>
        </div>
    </div>
{% endfor %}

{% endblock %}

