{% extends 'base/front_base.html' %}
{% block title %}
    课程列表
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/courses/course_index.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_695382_tt8o9lbnki3haor.css">
{% endblock %}

{% block main %}
    <div class="main">
        <div class="course-nav-out">
            <div class="course-nav-inner">
                <h2 class="course-title">在线课堂</h2>
                <ul class="course-catagory">
                    <li class="active"><a href="">最新课堂</a></li>
                    <li><a href="">投资人说</a></li>
                    <li><a href="">明星案例</a></li>
                    <li><a href="">创业知识</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div class="course-list-group">
                <ul class="course-list">
                    <li>
                        <a href="">
                            <div class="thumbnail">
                                <img src="https://static-image.xfz.cn/1513067515_281.png-course.list.small" alt="">
                            </div>
                            <div class="course-info">
                                <p class="title">人工智能物质载体：深度学习处理器</p>
                                <p class="author">钱诚/寒武纪副总裁</p>
                                <div class="price">
                                    <span class="free">免费</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="thumbnail">
                                <img src="https://static-image.xfz.cn/1513577022_550.png-course.list.small" alt="">
                            </div>
                            <div class="course-info">
                                <p class="title">人工智能物质载体：深度学习处理器</p>
                                <p class="author">钱诚/寒武纪副总裁</p>
                                <div class="price">
                                    <span class="free">免费</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="thumbnail">
                                <img src="https://static-image.xfz.cn/1513065034_406.png-course.list.small" alt="">
                            </div>
                            <div class="course-info">
                                <p class="title">研判2018：创投新战场</p>
                                <p class="author">李黎&张颖 / 嘉程资本创始合伙人、小饭桌创始人；经纬中国创始管理合伙人</p>
                                <div class="price">
                                    <span class="free">免费</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="thumbnail">
                                <img src="https://static-image.xfz.cn/1513063811_824.png-course.list.small" alt="">
                            </div>
                            <div class="course-info">
                                <p class="title">华尔街十年巨变：中国创新力量的崛起</p>
                                <p class="author">吉姆·罗杰斯 / 量子基金创办人</p>
                                <div class="price">
                                    <span class="free">免费</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="thumbnail">
                                <img src="https://static-image.xfz.cn/1503382942_469.jpg-course.list.small" alt="">
                            </div>
                            <div class="course-info">
                                <p class="title">互联网投资趋势下的消费升级</p>
                                <p class="author">郎春晖 / 创新工场合伙人</p>
                                <div class="price">
                                    <span class="free">免费</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="thumbnail">
                                <img src="https://static-image.xfz.cn/1513648493_271.png-course.list.small" alt="">
                            </div>
                            <div class="course-info">
                                <p class="title">AI 赋能：深度学习处理器与多场景AI应用</p>
                                <p class="author">汪玉  / 深鉴科技联合创始人</p>
                                <div class="price">
                                    <span class="tax">¥ 49</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="thumbnail">
                                <img src="https://static-image.xfz.cn/1513648493_271.png-course.list.small" alt="">
                            </div>
                            <div class="course-info">
                                <p class="title">AI 赋能：深度学习处理器与多场景AI应用</p>
                                <p class="author">汪玉  / 深鉴科技联合创始人</p>
                                <div class="price">
                                    <span class="tax">¥ 49</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}