{% extends 'base/front_base.html' %}
{% load static %}
{% load news_filters %}
{% block title %}
    首页
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/news/index.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_695382_tt8o9lbnki3haor.css">
    <script src="{% static 'webtemplates/template-web.js' %}"></script>
    <script src="{% static 'js/index.min.js' %}"></script>
    <script id='more_news' type="text/html">
        {% verbatim %}
            {{ each news new_body index }}
                <li>
                    <div class="thumbnail">
                        <a href="/news/{{ new_body.id }}/"><img src="{{ new_body.thumbnail }}" alt=""></a>
                    </div>
                    <div class="news-group">
                        <p class="title"><a href="/news/{{ new_body.id }}/">{{ new_body.title }}</a></p>
                        <p class="desc">{{ new_body.desc }}</p>
                        <p class="more">
                            <span class="category">{{ new_body.category.name }}</span>
                            <span class="pub-time">{{ new_body.pub_time|timeSince }}</span>
                            <span class="author">{{ new_body.author.username }}</span>
                        </p>
                    </div>
                </li>
            {{ /each }}
        {% endverbatim %}
    </script>
{% endblock %}

{% block main%}
    <div class="main">
        <div class="wrapper">
            <div class="news-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul">
                        <li><a href="#"><img src="https://static-image.xfz.cn/1512989310_955.jpg" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1528079965_535.jpeg" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1523504442_455.png" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1525669927_166.jpg" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1523588994_243.jpg" alt=""></a></li>
                    </ul>
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>
                    <div class="page-control-group">
                        <ul class="page-control">
                        </ul>
                    </div>
                </div>
                <div class="list-out-group">
                    <ul class="list-tab">
                        <li class="active"><a href="javascript:void(0);">最新</a></li>
                        {% for category in categorys %}
                            <li data-category="{{ category.id }}"><a href="javascript:void(0);">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="list-inner-group">
                        {% for new in news %}
                            <li>
                                <div class="thumbnail">
                                    <a href="{% url 'news:news_detail' new.id %}"><img src="{{ MEDIA_URL }}{{ new.thumbnail }}" alt=""></a>
                                </div>
                                <div class="news-group">
                                    <p class="title"><a href="{% url 'news:news_detail' new.id %}">{{ new.title }}</a></p>
                                    <p class="desc">{{ new.desc }}</p>
                                    <p class="more">
                                        <span class="category">{{ new.category.name }}</span>
                                        <span class="pub-time">{{ new.pub_time|time_since }}</span>
                                        <span class="author">{{ new.author.username }}</span>
                                    </p>
                                </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="load-more-group">
                        <button class="load-more" id="load-more-btn">查看更多</button>
                    </div>
                </div>
            </div>
            {% include 'common/slidebar.html' %}
        </div>
    </div>
{% endblock %}