{% extends 'base/front_base.html' %}
{% block title %}
    首页
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/news/index.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_695382_tt8o9lbnki3haor.css">
    <script src="{% static 'js/index.min.js' %}"></script>
{% endblock %}

{% block main%}
    <div class="main">
        <div class="wrapper">
            <div class="news-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul">
                        <li><a href="#"><img src="https://static-image.xfz.cn/1512989310_955.jpg" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1528079965_535.jpeg" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1523504442_455.png" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1525669927_166.jpg" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1523588994_243.jpg" alt=""></a></li>
                    </ul>
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>
                    <div class="page-control-group">
                        <ul class="page-control">
                        </ul>
                    </div>
                </div>
                <div class="list-out-group">
                    <ul class="list-tab">
                        <li class="active"><a href="">最新资讯</a></li>
                        <li><a href="">热点</a></li>
                        <li><a href="">深度报道</a></li>
                        <li><a href="">干活分享</a></li>
                        <li><a href="">投资人说</a></li>
                    </ul>
                    <ul class="list-inner-group">
                        <li>
                            <div class="thumbnail">
                                <a href=""><img src="https://static-image.xfz.cn/1528283409_934.jpg-website.news.list" alt=""></a>
                            </div>
                            <div class="news-group">
                                <p class="title"><a href="">王健林卖掉进军海外的首个项目：17亿售伦敦ONE六成股权</a></p>
                                <p class="desc">海外关于万达要出售此前在海外投资项目的消息一直不断</p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">1小时前</span>
                                    <span class="author">doever</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail">
                                <a href=""><img src="https://static-image.xfz.cn/1528280862_453.jpg-website.news.list" alt=""></a>
                            </div>
                            <div class="news-group">
                                <p class="title"><a href="">蛋壳公寓完成7000万美元B+轮融资，老虎环球基金领投</a></p>
                                <p class="desc">6月6日，国内长租公寓运营商蛋壳公寓完成7000万美元B+轮融资，本轮融资由老虎环球基金领投，BAI(贝塔斯曼亚洲投资基金）继续投资。</p>
                                <p class="more">
                                    <span class="category">融资消息</span>
                                    <span class="pub-time">15小时前</span>
                                    <span class="author">answer</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <div class="load-more-group">
                        <button class="load-more">查看更多</button>
                    </div>
                </div>
            </div>
            {% include 'common/slidebar.html' %}
        </div>
    </div>
{% endblock %}