<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_695382_tt8o9lbnki3haor.css">
    <script src="../../dist/js/jquery-3.3.1.js"></script>
    <script src="../../dist/js/index.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo-box">
                <a href="/"></a>
            </div>
            <ul class="nav">
                <li class="active"><a href="/">创业资讯</a></li>
                <li><a href="/">创业课堂</a></li>
                <li><a href="/">付费课程</a></li>
                <li><a href="/">搜索</a></li>
            </ul>
            <div class="auth-box">
                <i class="icon-person iconfont"></i>
                <a href="">登录</a>/<a href="">注册</a>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="wrapper">
            <div class="news-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul">
                        <li><a href="#"><img src="https://static-image.xfz.cn/1512989310_955.jpg" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1528079965_535.jpeg" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1523504442_455.png" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1525669927_166.jpg" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1523588994_243.jpg" alt=""></a></li>
                    </ul>
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>
                    <div class="page-control-group">
                        <ul class="page-control">
                        </ul>
                    </div>
                </div>
                <div class="list-out-group">
                    <ul class="list-tab">
                        <li class="active"><a href="">最新资讯</a></li>
                        <li><a href="">热点</a></li>
                        <li><a href="">深度报道</a></li>
                        <li><a href="">干活分享</a></li>
                        <li><a href="">投资人说</a></li>
                    </ul>
                    <ul class="list-inner-group">
                        <li>
                            <div class="thumbnail">
                                <a href=""><img src="https://static-image.xfz.cn/1528283409_934.jpg-website.news.list" alt=""></a>
                            </div>
                            <div class="news-group">
                                <p class="title"><a href="">王健林卖掉进军海外的首个项目：17亿售伦敦ONE六成股权</a></p>
                                <p class="desc">海外关于万达要出售此前在海外投资项目的消息一直不断</p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">1小时前</span>
                                    <span class="author">doever</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail">
                                <a href=""><img src="https://static-image.xfz.cn/1528280862_453.jpg-website.news.list" alt=""></a>
                            </div>
                            <div class="news-group">
                                <p class="title"><a href="">蛋壳公寓完成7000万美元B+轮融资，老虎环球基金领投</a></p>
                                <p class="desc">6月6日，国内长租公寓运营商蛋壳公寓完成7000万美元B+轮融资，本轮融资由老虎环球基金领投，BAI(贝塔斯曼亚洲投资基金）继续投资。</p>
                                <p class="more">
                                    <span class="category">融资消息</span>
                                    <span class="pub-time">15小时前</span>
                                    <span class="author">answer</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <div class="load-more-group">
                        <button class="load-more">查看更多</button>
                    </div>
                </div>
            </div>
            <div class="sidebar-wrapper">
                <div class="title-group">
                    <span class="title">在线课堂</span>
                    <a href="" class="more">更多</a>
                </div>
                <div class="advertise-group">
                    <a href=""><img src="https://www.xfz.cn/static/build/images/side-gift-banner.png" alt=""></a>
                </div>
                <div class="platform-group">
                    <div class="title-group">
                        <span class="title">关注小饭桌</span>
                    </div>
                    <div class="focus-group">
                        <ul class="left-group">
                            <li class="zhihu"><a href="" target="_blank">小饭桌创业课堂</a></li>
                            <li class="weibo"><a href="" target="_blank">小饭桌创业课堂</a></li>
                            <li class="toutiao"><a href="" target="_blank">小饭桌</a></li>
                        </ul>
                        <div class="right-group">
                            <p class="desc">扫码关注</p>
                        </div>
                    </div>
                </div>
                <div class="hot-news-group">
                    <div class="title-group">
                        <span class="title">热门推荐</span>
                    </div>
                    <ul class="hot-list-group">
                        <li>
                            <div class="left-group">
                                <p class="title"><a href="">王健林卖掉进军海外首个项目：17亿售伦敦ON...</a></p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">一小时前</span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href=""><img src="https://static-image.xfz.cn/1528283409_934.jpg-website.news.list" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="left-group">
                                <p class="title"><a href="">王健林卖掉进军海外首个项目：17亿售伦敦ON...</a></p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">一小时前</span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href=""><img src="https://static-image.xfz.cn/1528283409_934.jpg-website.news.list" alt=""></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="top-group">
            <div class="top-inner-group">
                <div class="logo-box"></div>
                <div class="detail-group">
                    <div class="line1">
                        <ul class="links">
                            <li><a href="">关于小方桌</a></li>
                            <li><a href="">创业课堂</a></li>
                            <li><a href="">寻求报道</a></li>
                            <li><a href="">创业礼包</a></li>
                        </ul>
                        <div class="about-us">
                            <span class="title">关于我们：</span>
                            <ul class="social">
                                <li class="weixin">
                                    <div class="wx-qrcode"></div>
                                    <span class="text">xfz008</span>
                                </li>
                                <li class="weibo"><a class="text" href="#">小饭桌创业课堂</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="line2">
                        <p class="address">地址：北京市朝阳区东三环北路38号院泰康金融大厦</p>
                        <p class="contact">联系方式：40066985945</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-group">©2018 北京子木投资顾问有限公司 京ICP备15051289号-1 | 增值电信业务经营许可证：京B2-20170574</div>
    </footer>
</body>
</html>