{% extends "base/front_base.html" %}
{% load news_filters %}
{% block title %}
    课程首页
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/news/news_detail.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_695382_tt8o9lbnki3haor.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_695382_9mjt9mwz38d.css">
{% endblock %}

{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="news-wrapper">
                <div class="content-news">
                    <h1 class="title">{{ new.title }}</h1>
                    <div class="news-info-group">
                        <div class="info-group">
                            <span class="author-info">{{ new.author.name }}</span>
                            <span class="pub-time">{{ new.pub_time|time_since }}</span>
                            <span class="category">{{ new.category.name }}</span>
                        </div>
                        <div class="sharing-group">
                            <span>分享至：</span>
                            <a href="" class="weixin"></a>
                            <a href="" class="weibo"></a>
                        </div>
                    </div>
                    <article class="article">
                        {{ new.content|safe }}
                    </article>
                </div>
                <div class="comment-group">
                    <h2 class="title">文章评论（0）</h2>
                    <textarea name="comment" class="comment nologin-comment" placeholder="立刻登录，参与评论" readonly></textarea>
                    <div><button class="submit-btn">立即评论</button></div>
                </div>
                <ul class="comment-list">
                    <li>
                        <div class="comment-info">
                            <img class="avatar" src="https://static-image.xfz.cn/3864_1451467948864_hdImg_fa7eea5ece4a05faefb5d8c0b551dfc9.jpg-member.photo">
                            <span class="author">治疗菌</span>
                            <span class="pub-time">一小时前</span>
                        </div>
                        <p class="comment-context">谷歌极客vimium工具</p>
                    </li>
                    <li>
                        <div class="comment-info">
                            <img class="avatar" src="https://static-image.xfz.cn/3864_1451467948864_hdImg_fa7eea5ece4a05faefb5d8c0b551dfc9.jpg-member.photo">
                            <span class="author">治疗菌</span>
                            <span class="pub-time">一小时前</span>
                        </div>
                        <p class="comment-context">谷歌极客vimium工具</p>
                    </li>
                </ul>
            </div>
            {% include 'common/slidebar.html' %}
        </div>
    </div>
{% endblock %}