@import "../common/init.scss";
@import "../common/head.scss";
@import "../common/constants.scss";
@import "../common/foot.scss";
@import "course_nav.scss";
.main{
    .wrapper{
        .course-list-group{
            margin-top: 30px;
            .course-list{
                width: $pageWidth;
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    background-color: #fff;
                    width: 278px;
                    height: 300px;
                    margin-bottom: 20px;
                    &:hover{
                        box-shadow: 0 3px 16px rgba(0,0,0,0.1);
                    }
                    .thumbnail{
                        width: 100%;
                        height: 155px;
                        img{
                            width: 100%;
                            height: 155px;
                        }
                    }
                    .course-info{
                        width: 100%;
                        height: 165px;
                        padding: 16px;
                        box-sizing: border-box;
                        position: relative;
                        .title{
                            font-size: 16px;
                            line-height: 24px;
                            color: $mainFontColor;
                        }
                        .author{
                            margin-top: 10px;
                            font-size: 15px;
                            color: $assistFontColor;
                        }
                        .price{
                            position: absolute;
                            left: 16px;
                            right: 16px;
                            bottom: 32px;
                            text-align: right;
                            .free{
                                color: $freeColor;
                                font-size: 20px;
                            }
                            .tax{
                                color:$taxColor;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .course-list:after {
                content: '';
                width: 278px;
            }
        }
    }
}